.listContainer {
    margin-top: 80px;
}

.sortContainer {
    margin-bottom: 20px;
}

.reposContainer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, max-content));
    gap: 10px;
}

p.emptyList {
    font-size: 25px;
    max-width: 500px;
    width: 100%;
    margin: 0 auto;
}
